@charset "UTF-8";

#writer {
	position: relative;
	left: 510px;
	bottom: 20px;
}
.gong {
	width: 100%;
	height: 70px;
	
}
.grid_con {
	display: grid;
	grid-template-rows: 250px 250px 250px 440px;
	max-height: 1400px;
	grid-template-columns: auto;
	max-width: 1200px;
	grid-gap: 30px;
	border: solid #ddd 1px;
	padding: 20px;
	margin: auto;
	align-content: center;
	padding: 20px;
}

.grid_con>div {
	background-color: #ddd;
	text-align: center;
	padding-top: 20px;
	font-size: 18px;
}

.con1 {
	grid-row: 1/2;
	grid-column: 1/2;
}

.con2 {
	grid-row: 2/5;
	grid-column: 1/2;
}

#cate_box {
	width: 1100px;
	height: 210px;
	border-bottom: 1px solid white;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
}

#recipe_box {
	width: 1100px;
	height: 915px;
	border: 1px solid white;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
}

#cate_list {
	padding: 0px 0 0 0px;
}

#recipe_list {
	padding: 0px 0 0 0px;
}

.cate_items {
	float: left;
	margin-left: 20px;
}

.recipe_items {
	float: left;
	margin-left: 20px;
	margin-top: 5px;
}

.cate_items li {
	margin-top: 5px;
	list-style: none;
}

.recipe_items li {
	margin-top: 3px;
	list-style: none;
}

.cate_items img {
	width: 150px;
	height: 150px
}

.recipe_items img {
	width: 200px;
	height: 150px;
	border: solid white 1px;
	border-radius: 10px;
}

#pageNum {
	width: 300px;
	height: 30px;
	border: solid 1px white;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
}

#pageNum ul {
	position: relative;
	left: 30px;
	bottom: 15px;
}

#pageNum li {
	list-style: none;
	float: left;
	text-align: center;
	margin-left: 20px;
}

a {
	text-decoration: none;
}

a:link {
	color: black;
}
a:visited {
	color: black;
}
#pageNum a:active {
	color: green;
}
a:hover {
	color: black;
}